.whatsapp {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.whatsapp h2 {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.btn {
	margin: 1rem 0;
}

@media screen and (max-width: 640px) {
	.info-container {
		flex-direction: column;
	}
	.whatsapp {
		margin: 0 1rem;
		display: flex;
		text-align: center;
	}
	h4 {
		font-size: 1rem;
		padding-bottom: 0.7rem;
	}
}
