label{
  color: #fff;
  margin-bottom: 0.5rem;
}
form{
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 600px;
}
input, textarea{
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
  border-radius: 0.5rem;
}
.whatsapp{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}