.project-heading{
  text-align: center;
  padding: 4rem 0 2rem 0;
}
.project-container{
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 5rem;
}

.card-container{
  padding: 1.2rem 1rem;
  background: #333131;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.card-container img{
  width: 100%;
}
h2{
  color: white;
  padding: 0.5rem 0 0.5rem 0;
}
.btn-link{
  margin-top: 2rem;
  display: flex;
  
  justify-content: space-between;
}